{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h2 class="text-center">Change Password</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    <label>Old password</label>
                    {% render_field form.old_password name='old_password' type="password" class='form-control' %}
                    <label>New password</label>
                    {% render_field form.new_password1 name='new_password1' type="password" class='form-control' %}
                    <label>New password confirmation</label>
                    {% render_field form.new_password2 name='new_password2' type="password" class='form-control' %}
                    <input type="submit" class="btn btn-primary form-control mt-2" value="Change Password">
                </form>
            </div>
        </div>
    </div>
{% endblock %}